*{
    background-color: #121212;
}

.header{
    width: 100%;
    min-width: 494px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #0A0A0A;
    border-bottom: 1px solid lightgray;
    grid-template-columns: 50% 50%;
}

.side-buttons {
    background-color: #0A0A0A;
}

#logout{
    font-size: 30px;
    padding-right: 20px;
    background-color: #0A0A0A;
}

#my-rooms {
    text-align: right;
    font-size: 30px;
    padding-right: 10px;
    background-color: #0A0A0A;
}

#header:hover{
    text-decoration: none;
}

#my-rooms:hover{
    text-decoration: none;
}

#logout:hover{
    text-decoration: none;
}

.logo {
    width: 200px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-transform: uppercase;
    background-color: #0A0A0A;
    padding-left: 10px;
}

.my-rooms {
    text-align: right;
    font-size: 30px;
    padding: 10px;
    background-color: #0A0A0A;
}

.page-content {
    width: 100%;
    color: grey;
    font-size: 35px;
    font-weight: bold;
    padding: 50px;
    padding-left: 100px;
}

.account-info {
    display: grid;
    grid-template-columns: 400px 450px 60px;
    color: lightgray;
    font-size: 20px;
    font-weight: initial;
}

.account-info-item {
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    text-align: left;
}

.account-text-item {
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    text-align: left;
}

button {
    border: 0px;
}

#logo:hover{
    text-decoration: none;
}

#my-rooms:hover{
    text-decoration: none;
}

#logout:hover{
    text-decoration: none;
}