#draggable {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid black;
    background-color: gray;
    cursor: grab;
}

.corner-1{
    top: 350px;
    left: 500px;
}

.corner-2{
    top: 350px;
    left: 1100px;
}

.corner-3{
    top: 750px;
    left: 1100px;
}

.corner-4{
    top: 750px;
    left: 500px;
}